          <div class="header_cont">
            <span class="header-name"><a href="http://192.168.0.96:3000/"><img src="images/icLogoHeader.png" alt="Chain Car logo"></a></span>
            <ul class="menu-bar">
                <li class="menu-sub"><a href="http://192.168.0.96:3001/">내차 구매</a></li>
                <li class="menu-sub"><a href="./input">내차 판매</a></li>
                <li class="menu-sub"><a href="./usemeth">서비스 이용방법</a></li>
                <li class="menu-sub"><a href="./service">서비스 소개</a></li>
            </ul>
          </div>