<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <title>BlockChain</title>
    <link rel="stylesheet" href="css/style.css" />
    <!--script type="text/javascript" src="js/search.js"></script-->

    </script>
  </head>
  <body>
    
    <div class="header">
      <span class="header-name"><a href="http://192.168.0.96:3000/"><img src="images/icLogoHeader.png" alt="Chain Car logo"></a></span>
      <ul class="menu-bar">
          <li><span class="menu-sub"><a href="http://192.168.0.96:3001/">내차 구매</a></span></li>
          <li><span class="menu-sub"><a href="./input">내차 판매</a></span></li>
          <li><span class="menu-sub"><a href="./service">서비스 소개</a></span></li>
          <li><span class="menu-sub"><a href="./blinfo">블록정보</a></span></li>
      </ul>
      
      <div class="logocont">
        <div class="logocont-center">
          <img src="images/icLogo.png" alt="Chain Car contlogo">
          <p>당신이 원하는 차를 검색해 보세요.</p>
        </div>
        <div class="search-bar">
          <ul class="search-cont">
            <li>
              <select name="cprice" id="cprice">
                <option value="-">가격</option>
                <option>~ 500만원</option>
                <option>~ 1000만원</option>
                <option>~ 5000만원</option>
                <option>5000만원 ~</option>
              </select>
            </li>
            <li>
              <select name="cdis" id="cdis">
                <option value="-">주행거리</option>
                <option>~ 10000km</option>
                <option>~ 50000km</option>
                <option>100000km ~</option>
              </select>
            </li>
            <li>
              <select name="myear" id="myear">
                <option value="-">년식</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
                <option>2013</option>
                <option>2012</option>
                <option>2011</option>
                <option>2010</option>
                <option>2009</option>
                <option>2008</option>
                <option>2007</option>
                <option>2006</option>
                <option>2005</option>
                <option>2004</option>
                <option>2003</option>
                <option>2002</option>
                <option>2001</option>
                <option>2000</option>
                <option>1999</option>
                <option>1998</option>
                <option>1997</option>
                <option>1996</option>
                <option>1995</option>
                <option>1994</option>
                <option>1993</option>
                <option>1992</option>
                <option>1991</option>
              </select>
            </li>
            <li>
              <input type="text" id="textfield"  placeholder="차량 이름을 입력하세요."/>
            </li>
            <li class ="icon-space1">
              <a id="btnsearch" onclick="goSearch();">검색</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="index-container">
      <div class="container-img">
        <img src="images/chaincarMain.png" alt="chain Car main image">
      </div>
    </div>
    <!-- 디자인변경됨(2019.02.22) -->
    <!--script src="/js/bg.js"></script-->
    <!-- //디자인변경됨(2019.02.22) -->
  </body>
</html>
