* {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}

body {
    color: #fff;
}


.header{
    /* background-color: gold; */
    /* background-image: linear-gradient(to right, #98c0f4, #92f4cf); */
    background-image: linear-gradient(to right, rgb(152, 192, 244), rgba(146, 244, 207, 0.98));
    float: left;
    width: 100%;
    height: 550px;
}

.header_cont{
    /* background-color: gold; */
    /* background-image: linear-gradient(to right, #98c0f4, #92f4cf); */
    background-image: linear-gradient(to right, rgb(152, 192, 244), rgba(146, 244, 207, 0.98));
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 150px;
}



.header-name {
    float: left;
    display: inline;
    margin: 10px 25px;
    color:black;
    font-size:60px;
}

.car-content{
    color: #000;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    margin:200px auto;
}
.menu-bar {
    float: right;
    display: inline;
    margin: 15px;
    color:white;
    font-size:12px;
    text-decoration: none;
}
.menu-bar > li {
    float: left;
    margin: 10px 15px;
}

.menu-bar > li a:hover,
.menu-bar > li a:focus
 {
     border-bottom: 3px solid #fff;
}


.menu-sub{
    /* justify-content: center;
    text-align: center; */
    /* display: flex;
  align-items: center;
  flex-direction: column; */
    color:white;
    font-size:20px;
       
}
.logocont {
    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
}
.logocont > .logocont-center {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 300px;
}
.logocont-center > img {
    width: 100%;
}
.logocont-center > p {
    width: 100%;
    margin: 10px auto;
    font-weight: bold;
    font-size: 19px;
}


.car-box {
    /* float: left; */
    position: relative;
    display: block;
    background-color:white;
    margin: 20px;
    width:250px;
    height: 300px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
}

.car-container {
    float: left;
    display: block;
    width:100%;
    height: 50%;
}

.car-name {
    float: left;
    display: block;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #000;

}
.car-name > ul {
    float: left;
    padding: 0;
    width: 100%;
    text-align: center;

}
.car-name > ul > li {
    float: left;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}
.car-name > ul > li.ft_gray {
    color: gray;
}

.car-font {
    font-size:20px;
    font-weight: bold;
}

.car-cost {
    font-size:25px;
    color:blue;
    font-weight: bold;
}
/* .car-info {
    justify-content: center;
} */

