* {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}

body{
    background-color: #fff;
    color: #000;
}
input {
    line-height: 35px;
    margin: 10px;
}

/* container */
h1 {
    text-align: center;
    /*margin: 20px 0;*/
}

/* wrapper */
.wrapper {
    float: left;
    display: block;
    width: 100%;
}
/* .info_box */
.info_box {
    display: block;
    overflow: hidden;
    width: 70%;
    min-height: 100px;
    margin: 60px auto;
    padding: 15px;
    background-color: #f8f8ff;
    box-shadow: 2px 2px #eee;
}
.info_box:hover,
.info_box:focus {
    box-shadow: 2px 2px #ddd;
}

/* box_header */
.box_header {
    float: left;
    display: block;
    width: 25%;
    
}

/* .box_cont */
.box_cont {
    float: left;
    display: block;
    width: 75%;
    
}
.box_cont > dl {
    display: block;
}
.box_cont > dl > dt {
    font-size: 18px;
    font-weight: bolder;
}
.box_cont > dl > dd {
    width: 90%;
    overflow: hidden;
    margin: 5px auto;

}
.box_cont > dl > dd > .box_img {
    float: left;
    width: 100%;
    min-height: 10px;
    background-color: #fff;
    overflow: hidden;
}
.box_img img {
    width: 100%;
    max-height: 100%;
}


/* nosearch.html */
.back_btn {
    font-weight: bold;
}
.back_btn:hover,
.back_btn:focus {
    color: coral;
}


/* input.html */
div.center {
    text-align: center;
}
div.right {
    text-align: right;
}
.input-number {
    text-align: right;
}
label {
    margin-right: 15px;
    padding: 10px 0;
}
select {
    line-height: 20px;
    font-size: 15px;
}
textarea {
    float: left;
    overflow: hidden;
    width: 95%;
}
/* .box_top */
.box_top {
    display: block;
    margin: 0 auto;
    margin-bottom: -40px;
    overflow: hidden;
    width: 70%;
    color: #555;
    font-size: 15px;
    line-height: 20px;
}
.box_top > p {
    display: block;
    float: left;
}
span {
    margin: 5px;
    font-weight: bold;
}
span.red {
    color: red;
}
span.blue {
    color: blue;
}
/* .box_bottom */
.box_bottom {
    display: block;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
    width: 70%;
    color: #555;
    font-size: 15px;
    line-height: 20px;
    border-top: 1px solid #222;
}
#status {
    /* img status check */
    display: none;
}
.box_btn {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.box_btn > .frm_btn {
    display: block;
    float: right;
    width: 150px;
    line-height: 60px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: lightblue;
    text-align: center;
    cursor: pointer;
}
.box_btn > .frm_btn:hover,
.box_btn > .frm_btn:focus {
    background-color: coral;
}